<div class="col s12 m4">
  <div class="card red lighten-1">
    <div class="card-content white-text">
      <span class="card-title">NAME</span>
      <span class="card-title"
        ><i class="medium material-icons">desktop_windows</i> TITLE</span
      >
      <div class="information">
        <div class="info">
          <p>ID: ID</p>
          ;
        </div>
        <div class="info">
          <p>Email: EMAIL</p>
        </div>
        <div class="info">
          <p>Github: GITHUB</p>
        </div>
      </div>
    </div>
    <div class="card-action"></div>
  </div>
</div>
